<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/}" class="logo">
                        <h1>Villaton</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a th:href="@{/}" class="active">Home</a></li>
                        <li><a th:href="@{/users/login}">Login</a></li>
                        <li><a th:href="@{/users/register}">Register</a></li>
                        <li><a th:href="@{/properties}">Properties</a></li>
                        <li><a th:href="@{/contact}">Contact Us</a></li>
                        <li><a th:href="@{/properties}"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
</body>
</html>