<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<header th:replace="~{fragments/navbar}"></header>

<div class="container bg-blur rounded mt-5">
    <img th:src="@{/images/403-forbidden.png}" alt="Stop"
         width="360"
         height="360">
    <h5 class="text-center text-black mt-5">You are trying to reach a page that you cannot.</h5>
    <h5 class="text-center text-black mt-5">Why don't we go back home?</h5>
    <br/>
    <a th:href="@{/}">To Home</a>
</div>
</body>
</html>