<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/navbar}"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>Welcome to Villaton</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Ever wished to have a holiday home somewhere far away?
            Where your worries are no more? Somewhere you and your family can go on vacation and not be bothered by work?
            <br>
            Well look no further! You are currently in Villaton. One of the best places to find your own personal getaway.
        </p>
        <hr class="my-3 bg-white w-75"/>
        <th:block sec:authorize="!isAuthenticated()">
        <h3>
            <a class="text-primary" th:href="@{/users/login}">Login</a>
            if you have an account or
            <a class="text-primary" th:href="@{/users/register}">Register</a>
            now and check our deals.
        </h3>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <h3>
            Why not check all our
            <a class="text-primary" th:href="@{/properties/all}">Properties</a>
            ?
            </h3>
        </th:block>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>